# Copyright (c) 2023 innodisk Crop.
# 
# This software is released under the MIT License.
# https://opensource.org/licenses/MIT

[global]
bs=1M
ioengine=io_uring
numjobs=4
iodepth=32
time_based=1
runtime=60
group_reporting=1
wait_for_previous=1
direct=1
log_avg_msec=500
ramp_time=10
[JOB1]
rw=read
write_bw_log=fio_read
[JOB2]
rw=write
write_bw_log=fio_write